/* --------------------------- */
/* primary main content */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
html
{
	position: relative;
	height: 100%;
	font-family: 'Open Sans',sans-serif !important; 
	overflow: overlay;
	overflow-y: scroll;
}

html div{
	font-family: 'Open Sans',sans-serif !important; 
}

.mainContent{
	background: whitesmoke;	
	overflow-x: hidden;
	height: 100%;
	background-position:center; 
	background-size: cover;
	background-repeat: no-repeat;
}

.pointer{
	cursor: pointer;
}

.full-height{
	height: 100%;
}

.links{
	color: rgb(0,78,176);
}

.links:hover{
	color: #6f94d9;
	text-decoration: underline;
	cursor: pointer;
}

.footer{
	background-color: #0b1e35;
	width: 100%;
	color: whitesmoke;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 10px;
	font-size: 90%;
}

/* end of primary main content */
.navText{
	font-family: 'Open Sans',sans-serif !important; 
}


/* --------------------------- */
/* home page containers */
.topHomePage {
    /* Sizing */
    width: 100vw;
    height: 80vh;
    
    /* Text styles */
    text-align: center;
    
	/* Background styles */
	/* 'https://codetheweb.blog/img/posts/full-image-hero/image.jpg' */
    background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)), url('./../images/sf_banner.png');
	background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;

	/* Flexbox stuff */
	display: flex;
	justify-content: center;
	align-items: center;

	/* Text styles */
	text-align: center;
	
	overflow-x: hidden;
	overflow-y: hidden;
}

.topHomePage_mobile {
    /* Sizing */
    width: 100%;
    height: 80vh;
    
	/* Background styles */
	/* 'https://codetheweb.blog/img/posts/full-image-hero/image.jpg' */
    background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)), url('./../images/sf_banner_mobile.png');

	/* Flexbox stuff */
	display: flex;
	justify-content: center;
	align-items: center;

	/* Text styles */
	text-align: center;
}

.bottomHomePage{
	position: relative;
	width: 100%;
}

.homepageCol_left{
	float: left;
	border-radius: 5px;
	height: 100%;
	margin-left: 2%;
	margin-top: 20px;
	position: relative;
	width: 27%;
	/*
	border: black;
	border-width: 0.5px;
	border-style: solid;
	*/
}

.homepageCol_right{
	float: right;
	width: 70%;
	height: 95%;
	margin-left: 2px;
	margin-top: 0px;
	padding-right: 20px;
}

.nameText{
	color: #6f94d9;
	font-weight: bold;
	padding-bottom: 10px;
}

.titleText{
	color: rgba(218,224,230,1);	
	padding-bottom: 10px;
	letter-spacing: 0.5px;
}

.contactCardImage{
	height: 40%;
	width: 100%;
	position: relative;
	z-index:1;
}

.contactCardHeadshot{
	position: absolute;
	top: 10%;
	left: 5%;
	height: auto;
	width: 20%;
	border-radius: 50%;
	z-index: 2;
	border: solid white;
	border-width: 2.5px;
}

.emailButton{
	text-align: center !important;
	margin-top: 10px;
	margin-bottom: 25px;
	max-width:40%;
	min-width: 30%;
	background-color: rgba(240,248,255,0.1) !important;
	color: rgba(218,224,230,1) !important;	
}

.emailButton:hover{
	background-color: rgba(240,248,255,0.2) !important;
	color: white;
	transform-origin:left;
	transition:width 0.25s ease;
	cursor: pointer;

}

.contactCardTable{
	padding-top: 5%;
}

table {
border-collapse: collapse;
width: 100%;
}

th, td {
padding-bottom: 8px;
text-align: center;
width: 50%;
}

th{
	color: #2E3D59;
}

.quote{
	width: 90%;
	font-style: italic;
	padding-left: 5%;
	text-align: center;
	padding-top: 5px;
}

.cardIcons{
	vertical-align: middle;
	width: 15px;
	height: 15px;
}

.homepage_secHeader{
	padding-left: 5%;
	text-transform: uppercase;
	color: #6f94d9;
	font-weight: bold;
	padding-top: 20px;
	font-size: 120%;
}

.homepage_paragraph{
	padding-left: 10%;
	padding-top: 10px;
	padding-right: 10px;
	line-height: 2;
}

.homepageHeadshot{
	border: white 10px solid;
	width: 100%;
}



/* --------------------------- */
/* home page button */

.button {
	cursor: pointer;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  /*text-transform: uppercase;*/
  text-decoration: none;
  overflow: hidden;
  border-radius: 10px;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  color: #F0F8FF;
  background-color:#6f94d9;
}


/* end of home page buttons */



/* --------------------------- */
/* Nav Stuff Overwriting Bootstrap :( */
.navImage{
	vertical-align: middle;
	width: 25px;
	height: 25px;
	padding-top: 0 !important;
}

.navImage:hover{
	border: rgba(0,0,0,0) solid 0.5px;
}

.navImageCircle{
	vertical-align: middle;
	width: 30px;
	height: 30px;
	padding-top: 0 !important;
	opacity: 0.9;
}

.navImageCircle:hover{
	opacity: 1;
}

.modal-open[style] {
	padding-right: 0px !important;
}

.modal-header{
	border: none !important;
}

.navbar-dark{
	background-color: rgba(0, 0, 0, 0) !important;
	padding-top: 0 !important;
}

.navbar{
	min-height: 48px !important;
	padding-top: 0 !important;
}

.contactInfoText{
	cursor: pointer;
	float: left !important;
	padding: 8px 0px;
}

.contactInfoText:hover{
	color: white !important;
}

.whiteText{
	color: rgba(240,248,255,0.9) !important;
	cursor: pointer;
}

.whiteText:hover{
	color: white !important;
	cursor: pointer;
	font-weight: bold;
}

.whiteText_active{
	color: white !important;
	cursor: pointer;
	font-weight: bold;
}

/* end of nav */



/* --------------------------- */
/* Modal Stuff Overwriting Bootstrap :( */
.modal-title{
	color: #6f94d9;
}

@media (min-width: 768px) {
	.modal-xl {
	  width: 95%;
	 max-width:1400px;
	}
  }
  
.home-scrollspy-label{
	color: #212529;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin:0;
}

.active{
	color: #6f94d9 !important;
	font-weight: bold !important;
}

/* end of modal */



/* --------------------------- */
/* resume page */
.topResumePage {
	position: fixed;
	z-index: 2;

    /* Sizing */
    width: 100vw;
    height: 45px;
    
    /* Background styles */
    background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)), url('./../images/sf_banner.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	
	overflow-x: hidden;
	overflow-y: hidden;

}

.topResumePage_mobile {
	position: fixed;
	z-index: 2;
    /* Sizing */
    width: 100%;
    height: 45px;
    
	/* Background styles */
	/* 'https://codetheweb.blog/img/posts/full-image-hero/image.jpg' */
    background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)), url('./../images/sf_banner_mobile.png');

	/* Flexbox stuff */
	display: flex;
	justify-content: center;
	align-items: center;

	/* Text styles */
	text-align: center;
}

.verticalLine {
  border-left: solid rgba(0,0,0,0.5);
  height: 50%;
  margin-top: 5%;
}

.leftCol_resume {
    position: fixed;
    width: 22%;
    background-color: white; 
    overflow-y: none;
	height:100%;
	margin-top: 55px;
}

.rightCol_resume {
	margin-top: 55px;
    position: absolute;            
    margin-left: 23%;
	width:76%;
	font-family: TimesNewRoman, "Times New Roman" !important; 
	font-size: 14px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	background: white;
}

.rightCol_resume_mobile {
    position: relative;            
	width:100%;
	font-family: TimesNewRoman, "Times New Roman" !important; 
	font-size: 12px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 35px;
	padding-top: 20px;
	background-color: white;
}

.sectionHeader{
	border-bottom: 0.5px solid #A6A6A6;
	color: #2E3D59;
	font-weight: bold;
	font-family: TimesNewRoman, "Times New Roman" !important; 
}

.resumeEmployer{
	font-weight: bold;
	text-align: left;
	font-family: TimesNewRoman, "Times New Roman" !important; 
}

.resumePosition{
	font-style: italic;
	font-family: TimesNewRoman, "Times New Roman" !important; 
}

.resumeDates{
	float: right;
}

.resumeSkillDeets{
	font-weight: normal;
}

.resumeBio{
	padding-left: 10px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width: 90%;
}

.resumeName{
	margin-top: 0px;
	padding-top: 10px;
	padding-bottom: 0px;
	width: 100%;
}

.resumeHeadshot{
	width: 100%;
	border-right: rgba(0,0,0,0) 3px solid;
	border-left: rgba(0,0,0,0) 3px solid;
}

.resumeQuote{
	font-style: italic;
	text-align: center;
	padding: 5px;
}

/* end of resume section */

/* --------------------------- */
/* projects page */
.topProjectsPage {
    /* Sizing */
    width: 100vw;
    height: 40vh;
    
    /* Text styles */
    text-align: center;
    
    /* Background styles */
    background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)), url('./../images/sf_banner.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;

	/* Flexbox stuff */
	display: flex;
	justify-content: center;
	align-items: center;

	/* Text styles */
	text-align: center;
	
	overflow-x: hidden;
	overflow-y: hidden;
}

.topProjectsPage_mobile {
    /* Sizing */
    width: 100%;
    height: 45vh;
    
	/* Background styles */
	/* 'https://codetheweb.blog/img/posts/full-image-hero/image.jpg' */
    background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)), url('./../images/sf_banner_mobile.png');

	/* Flexbox stuff */
	display: flex;
	justify-content: center;
	align-items: center;

	/* Text styles */
	text-align: center;
}

.projectsTitleText{
	text-align: center;
	vertical-align: middle;
	color: #6f94d9;
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 50px;
}

.projectsHeaderText{
	text-align: center;
	padding-left: 10%;
	padding-right: 10%;
	color: rgba(218,224,230,1);	
	padding-top: 10px;
	padding-bottom: 40px;
}

.projectsSearch{
	width: 60% !important;
	margin-left: 20%;
}

.projectsSearch_mobile{
	width: 90% !important;
	margin-left: 5%;
}

.projectCard{
	margin-top: 20px;
	cursor: pointer;
}

.projectCard:hover{
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.09);
	background-color: rgba(0,0,0,0.1);
}

.projectCardHeader{
	padding-top: 10px;
	font-size: 110%;
	padding-bottom: 5px;
}

.projectCardText{
	width: 90%;
	padding-left: 10%;
}

.grey{
	background-color: #F5F5F5;
}

.projectCardImage{
	padding-top: 10px;
	width:80%;
}

.bottomProjectResultsPage{
	/* 	background-image: linear-gradient(to right, white 30%, #F5F5F5 30%); */
	position: relative;
	min-height: 60vh;
}
/* end of projects section */

/* --------------------------- */
/* project result page */

.projectResultDate{
	padding-top: 0px;
	text-align: center;
	padding-right: 5px;
	color: rgba(0,0,0,0.5);
	font-size: 14px;
}

.dashboardContainer{
	position: relative;
	width: 80%;
	padding-top: 35%; /* 16:9 Aspect Ratio */
	margin-left: 10%;
}

.dashboardFrame{
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

.smallImageContainer{
	position: relative;
	width: 50%;
	padding-top: 22%; /* 16:9 Aspect Ratio */
	margin-left: 25%;
}

.smallImageFrame{
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	cursor: zoom-in;
}

.projectResultImage{
	width: 70%;
	margin-left: 15%;
	height: auto;
}

.projectsTitleTextResult{
	text-align: center;
	vertical-align: middle;
	color: #6f94d9;
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 48px;
	padding-top: 30px;
	margin-bottom: 5px;
}

.projectsHeaderTextResult{
	text-align: center;
	padding-left: 20%;
	padding-right: 20%;
	color: black;
	padding-top: 10px;
}

.projectResults_secHeader{
	padding-left: 10%;
	/* text-transform: uppercase; */
	color: black;
	font-weight: bold;
	padding-top: 10px;
	padding-right: 10%;
	font-size: 200%;
}

.projectResults_paragraph{
	padding-left: 10%;
	padding-top: 10px;
	padding-right: 10%;
}

.dashImageFooter{
	color: grey;
	font-size: 12px;
	padding-right: 10%;
	padding-left: 10%;
	text-align: center;
	padding-bottom: 20px;
	padding-top: 5px;
}

.projectResultsContainer{
	margin-top: 55px;
	margin-left: 10%;
	width: 80%;
	background: white;
	padding-top: 5px;
}

.projectResultsContainer_mobile{
	background: white;
	padding-top: 10px;
}

hr.paragraphDivider{
	border: 2px solid #6f94d9;
	border-radius: 1px;
	width: 80%;
	margin-left: 10%;
	color:#6f94d9;
}

.zoomImage{
	height: auto;
	width: 100%;
}

input.search-query {
	font-family: 'Open Sans',sans-serif !important; 
}